server:
    port: 8087
spring:
    datasource:
        url: jdbc:postgresql://localhost:5433/ead-authuser
        username: postgres
        password: postgres
    jpa:
        hibernate:
          ddl-auto: update
          dialect: org.hibernate.dialect.PostgresSQL8Dialect
          jdbc:
            lob:
              non-contextual-creation: true
        properties:
          hibernate:
            show-sql: true
            format_sql: true
            use_sql_comments: true
